.messenger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
}

.sendBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sendBtn {
  width: 20%;
  height: 100%;
}

.sendBtnInner {
  display: flex;
  justify-content: center;
}

.send-icon {
  margin: 0 10px;
}

.textArea {
  width: 80%;
  height: 100%;
  margin: 0 !important;
}

.messagesWrap {
  height: 90vh;
  overflow: hidden;
  overflow-y: auto;
}

.messageArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100%;
}

.messageBlock {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #aaa;
  box-shadow: inset #fff 0 0 5px;
  max-width: 90%;
}